.hidden { display: none; }
.img {display: block; width: 100%; }
header {
	position: fixed;
	background: rgba(255, 255, 255, 0.45);
	width: 100%;	
	z-index: 10;
}
header .btn {
	display: inline-block;
	padding: 10px;
	margin-left: 10px;
}
header .rgt {
	text-align: right;
	display: inline-block;
	float:right;
}


.page-wrapper {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0; left: 0;
	color: #FFF;
	font-family: Raleway, 微軟正黑體, "Microsoft JhengHei", Arial, Helvetica, sans-serif;
}
.page {
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
    width: 100%;
    min-height: 100vh;
}

.flex-wrap {
	display: flex;
	flex-direction: column;
	position: relative;
	top: 60px;
}
#main section {
	flex: 1;
    /*align-items: center;*/
    /*display: flex;*/
}
.btn-wrap {
	text-align: center;
	margin: 1.5em auto;
}
.btn-wrap > * { 
	/*display: inline-block; */
	vertical-align: middle;
	margin: 15px auto;
}

.btn-wrap .btn {
	border-radius: 3px;
	border: 1px solid yellow;
	background-color: transparent;
	padding: 10px 20px;
	width: 120px;
}

.photo {
	width: 200px;
	border-radius: 50%;
}

.photo > img{
	border-radius: 50%;
}

.content {
	max-height: 0;
}

.content.open {
	max-height: 11000000px;
}
